/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}


:root {
  --primary-color: #1A1E34;
  --secondary-color: #1A1E34;
  --background-color: #F8F9FA;
  --text-color: #5A5A5A;
  --gradient-bg: radial-gradient(at top left, var(--primary-color) 0%, var(--secondary-color) 100%);
}


/* buttons */

button.filled {
  padding: 10px 0px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: #FFCD06;
  color: white;
  transition: all 0.6s;

  &:hover {
    background-color: #1E4063;
    color: white;
  }
}

button.rounded {
  padding: 10px 0px;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  transition: all 0.6s;

  &:hover {
    background-color: #1E4063;
    color: white;
  }
}


button.simple-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 400;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.6s;
}


button.rounded-btn {
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 5px;
  font-weight: 400;
  background-color: transparent;
  color: var(--primary-color);
  transition: all 0.6s;
}


/* inputs */

input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
select {
  width: 100%;
  padding: 10px 20px !important;
  outline: none !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 6px;
}


label {
  font-size: 16px;
  font-weight: 600;
}

/* heading */



h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 22px !important;
}


h5 {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: gray;
  line-height: 18px !important;
}


/* error */

.error {
  font-size: 12px;
  color: red;
  font-weight: 300;
  margin-top: 8px;
}


/* progress bar */

#nprogress .bar {
  background: var(--primary-color) !important;
  height: 4px !important;
}


/* model */


/* Modal Styles */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modalContent {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  z-index: 11;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: gray;
  transition: 0.2s ease;

  &:hover {
    color: red;
  }
}



/* dropdown */

:global(.dropdown-menu) {
  background-color: #1A1E34 !important;
  border: none;
}

:global(.dropdown-item) {
  color: white !important;
}

:global(.dropdown-item:hover),
:global(.dropdown-item:focus) {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
