

.engineeringLettersForm{

    width: 50%;

    .orderServiceNavigation {
        z-index: 999;
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigationbtn {

            border: none;
            outline: none;
            background-color: transparent;
            padding: 10px 15px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

            &:nth-child(2) {
                background-color: var(--primary-color);
                color: white;
            }
        }
    }
}