.services {

    .serviceItem {
        background-color: rgb(255, 255, 255);
        min-height: 100px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        .menu-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
        }

        .actionIcon {
            cursor: pointer;
            display: inline-block;
            padding: 5px;
        }
        

        i{
            cursor: pointer;
        }

        h3 {
            font-size: 18px !important;

            span {
                font-size: 14px;
                color: var(--primary-color);
            }
        }
    }

}